body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.card {
    height: 28em;
    min-height: 28em;
}

    .card > img, .card > a > img {
        background: #efefef;
        width: 100%;
    }

    .card > .processing {
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        opacity: 0.6;
        width: 100%;
        height: 100%;
    }

    .card > .processing-text {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        margin-top: 1em;
        width: 100%;
        font-weight: bold;
        font-size: 2em;
    }